<h2>Sign up</h2>
<ul>
  <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
  <li><%= link_to "Sign in with Linked In", '/users/auth/linkedin' %></li>
  <li><%= link_to "Sign in with Twitter", '/users/auth/twitter' %></li>
  <li><%= link_to "Sign in with Google", '/users/auth/google_oauth2' %></li>
  <li><%= link_to "Sign in with Yahoo", '/users/auth/yahoo' %></li>
</ul>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
