<!-- begin .header-->
<header class="header clearfix">


  <!-- mobile navigation trigger-->
  <h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span> </a> </h5>

  <!--******this uses the bootstrap navbar menus but with added support for submenus (they are dropping these in 3.0 and their support in 2X was crap).
  I modified the JS, added some script, and adjusted the css.
  I commented and separeated the html so you can apply it to your site/menu system easier. Note the additional classes for this theme.
  *******-->
  <div id="nav">
    <!--accesibility-->
    <div class="navbar secondary-menu">
      <div class="container">

        <div class="navbar-inner">

          <div class="nav-collapse collapse">
            <ul class="nav accordmobile pull-right"><!--accordmobile comes in when the browser is at 979px and below, it fixes bugs with bootstrap's toggles of multiple level dropdowns which they are dropping support for and they had lousy support in 2x-->
              <% unless user_signed_in? %>
                  <li><a href="<%= new_user_registration_path %>">Register <i class="e-icon-pencil"></i></a></li>

                  <!--begin .dropdown .parent -->
                  <li class="dropdown parent"> <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <i class="e-icon-login"></i></a>
                    <ul class="dropdown-menu signin"><!--begin .dropdown-menu .signin -->

                      <li><!--begin list item / everything goes inside the list item-->
                        <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>

                            <%= f.text_field :email, :placeholder=> "Username" %>

                            <%= f.text_field :password, :placeholder=>"Password" %>

                            <%= button_tag(type: 'submit', class: "btn custom-btn btn-primary") do %>
                                Sign in
                            <% end %>
                        <% end %>
                      </li><!--end list item-->

                      <li class="divider"></li><!--divider -->

                      <li class="nav-header">Or Sign In with...</li><!--nav-header -->

                      <li>
                        <div class="social clearfix">
                          <a class="fc-webicon facebook large round" href="#" title="Facebook"></a>
                        </div></li>

                      <li class="divider"></li><!--divider -->

                      <li><%= link_to "Forgot password?" , new_password_path(resource_name)%></li>

                    </ul><!--close .dropdown-menu .signin -->
                  </li><!--close .dropdown .parent -->
              <% end %>

              <!--begin .dropdown .parent -->
              <li class="dropdown parent"> <a class="dropdown-toggle" href="#" data-toggle="dropdown">Connect <i class="e-icon-comment"></i></a>
                <ul class="dropdown-menu"> <!--begin .dropdown-menu -->

                  <li class="visible-phone visible-tablet phonenumber"><a href="tel:+8135553333">813.555.3333</a></li>
                  <!-- show this number only on phones and tablets -->

                  <li class="menu-text visible-desktop phonenumber">813.555.3333</li>
                  <!-- show this number only on desktop -->

                  <li><a href="mailto:contact@longdomaingoeshere.com">email: contact@longdomaingoeshere.com</a></li>

                  <li class="divider"></li>

                  <li class="nav-header">Sign Up For News!</li>

                  <li>
                    <form action="yourscript.php" method="post">
                      <div class="input-append custom-append">
                        <input type="email" placeholder="Email Address" name="email" />
                        <button class="btn btn-primary">Sign Up</button>
                      </div>
                      <!--close input-append-->
                    </form>
                  </li>

                  <li class="divider"></li><!--divider -->

                  <li class="nav-header">Follow Us!</li><!--nav-header -->

                  <li>
                    <div class="social clearfix">
                      <a class="fc-webicon rss round" href="#" title="RSS"></a>
                      <a class="fc-webicon facebook round" href="#" title="Facebook"></a>
                      <a class="fc-webicon twitter  round" href="#" title="Twitter"></a>
                      <a class="fc-webicon skype round" href="#" title="Skype"></a>
                      <a class="fc-webicon dribbble round" href="#" title="dribble"></a>
                      <a class="fc-webicon linkedin round" href="#" title="Skype"></a>
                      <a class="fc-webicon pinterest round" href="#" title="pinterest"></a>
                    </div><!-- close div .social-->
                  </li>


                </ul>
              </li><!--close .dropdown .parent -->


              <!--begin .dropdown .parent -->
              <% if user_signed_in? %>
                  <li class="dropdown parent"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <i class="e-icon-cog"></i></a>
                    <ul class="dropdown-menu">
                      <li class="current-user"> <a href="#"> <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/568222624/ILUSWEETC_normal.jpg" alt="Christina Arasmo">
                        <div class="name">
                          <b class="fullname"><%= current_user.name %></b><br>
                          <small> Edit profile </small>
                        </div>
                      </a> </li>
                      <li class="divider"></li>
                      <li><a href="#">Link Here</a></li>
                      <li><a href="#">Line Here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Help</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Settings</a></li>
                      <li> <a class="js-signout-button" href="<%= destroy_user_session_path %>" data-nav="logout">Sign out</a>
                        <form class="dropdown-link-form signout-form" id="signout-form" action="/logout" method="POST">
                          <input type="hidden" value="" name="" class="">
                          <input type="hidden" name="" class="">
                          <input type="hidden" name="">
                        </form></li>
                    </ul><!--close .dropdown-menu -->
                  </li><!--close .dropdown .parent -->
              <% end %>


            </ul><!-- close nav accordmobile-->
          </div>
          <!--/.nav-collapse -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!--/.container -->
    </div>
    <!-- /.navbar -->

    <div class="container">

      <div class="navbar primary-menu">
        <div class="navbar-inner">
          <div class="nav-collapse collapse">
            <ul class="nav accordmobile">
              <li class="dropdown parent">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Solutions <i class="e-icon-down-open-mini"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="simple-header.html">Customer Retention</a></li>
                  <li><a href="simple-header.html">Incremental Modeling</a></li>
                  <li><a href="simple-header.html">DataCo Loyalty</a></li>
                </ul></li>
              <li class="dropdown parent">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Resources <i class="e-icon-down-open-mini"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="simple-header.html">Calculators</a></li>
                  <li><a href="simple-header.html">Case Studies</a></li>
                  <li><a href="simple-header.html">White Papers</a></li>
                </ul></li>

              <li><%= link_to "Portfolio", page_path("portfolio") %></li>

              <li><%= link_to "Blogs", page_path("blogs") %></li>
              <li class="dropdown parent">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">About DataCo <i class="e-icon-down-open-mini"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="about.html">History</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><%= link_to "Contact", page_path("contact") %></li>

                </ul></li>
              <li class="dropdown parent">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">News Room <i class="e-icon-down-open-mini"></i></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Press Releases   ", page_path("press") %></li>
                  <li><%= link_to "Media Kit", page_path("media") %></li>
                </ul></li>

            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->

      <div id="logo" class="text-logo">
        <h2><a href="/">DataCo</a></h2>
      </div>
      <!-- end #logo -->
      <!-- ******* print stuff --><div class="print">Phone, name of company etc., for printing</div>
    </div>
    <!-- /.container -->
  </div>
  <!--close #nav-->

</header><!-- close /.header -->