<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" dir="ltr" lang="en"><!--<![endif]-->
<head>
  <title>DataCo Solutions</title>

  <!-- Meta Data ================ -->
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- Icons ================ put your icons and favicons below -->
  <!--http://mathiasbynens.be/notes/touch-icons-->

  <!-- Open Graph for facebook http://graph.facebook.com/[UserName] replace [UserName] with yours and get your fb:admis content information where the XXXX goes.
  ================================================== -->

  <meta content="" property="og:title"/>
  <meta content="" property="og:type"/>
  <meta content="" property="og:url"/>
  <meta content="" property="og:image"/>
  <meta content="" property="og:site_name"/>
  <meta content="XXXXX" property="fb:admins"/>
  <meta content="en_us" property="og:locale"/>
  <meta content=" " property="og:description"/>

  <!-- JS JQuery in the head you can use ajax if you want ================ -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/jquery-1.9.1.min.js"><\/script>')</script>

  <!--animated slider AND loading note two different scripts one for shitty browsers and one for modern -->
  <!--[if gt IE 8]><!-->
  <script src='assets/sequence-greater-than-ie-8.jquery-min.js'></script>
  <!--<![endif]-->
  <!--[if lte IE 8]><script src='assets/sequence-less-than-ie-8.jquery-min.js'></script><![endif]-->

  <!-- Add to HEAD after style sheet http://modernizr.com/docs/#installing  ================ -->
  <script src="assets/modernizr.custom.js?v=2.6.2"></script>

  <!-- Style Switcher  ================ -->
  <script src="assets/switcheroo.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="chromeframe">Your browser is over 12 years old. You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.</p>
<![endif]-->

<!-- begin accesibility skip to nav skip content -->
<ul class="visuallyhidden" id="top">
  <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
  <li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>

<!-- end /.visuallyhidden accesibility-->

<!-- begin .header-->
<header class="header clearfix">


<!-- mobile navigation trigger-->
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span> </a> </h5>

<!--******this uses the bootstrap navbar menus but with added support for submenus (they are dropping these in 3.0 and their support in 2X was crap).
I modified the JS, added some script, and adjusted the css.
I commented and separeated the html so you can apply it to your site/menu system easier. Note the additional classes for this theme.
*******-->
<div id="nav">
  <!--accesibility-->
  <div class="navbar secondary-menu">
    <div class="container">

      <div class="navbar-inner">

        <div class="nav-collapse collapse">
          <ul class="nav accordmobile pull-right"><!--accordmobile comes in when the browser is at 979px and below, it fixes bugs with bootstrap's toggles of multiple level dropdowns which they are dropping support for and they had lousy support in 2x-->
            <% unless user_signed_in? %>
            <li><a href="<%= new_user_registration_path %>">Register <i class="e-icon-pencil"></i></a></li>

            <!--begin .dropdown .parent -->
            <li class="dropdown parent"> <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <i class="e-icon-login"></i></a>
              <ul class="dropdown-menu signin"><!--begin .dropdown-menu .signin -->

                <li><!--begin list item / everything goes inside the list item-->
                  <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>

                      <%= f.text_field :email, :placeholder=> "Username" %>

                      <%= f.text_field :password, :placeholder=>"Password" %>

                      <%= button_tag(type: 'submit', class: "btn custom-btn btn-primary") do %>
                          Sign in
                      <% end %>
                  <% end %>
                </li><!--end list item-->

                <li class="divider"></li><!--divider -->

                <li class="nav-header">Or Sign In with...</li><!--nav-header -->

                <li>
                  <div class="social clearfix">
                    <a class="fc-webicon facebook large round" href="#" title="Facebook"></a>
                  </div></li>

                <li class="divider"></li><!--divider -->

                <li><%= link_to "Forgot password?" , new_password_path(resource_name)%></li>

              </ul><!--close .dropdown-menu .signin -->
            </li><!--close .dropdown .parent -->
            <% end %>

            <!--begin .dropdown .parent -->
            <li class="dropdown parent"> <a class="dropdown-toggle" href="#" data-toggle="dropdown">Connect <i class="e-icon-comment"></i></a>
              <ul class="dropdown-menu"> <!--begin .dropdown-menu -->

                <li class="visible-phone visible-tablet phonenumber"><a href="tel:+8135553333">813.555.3333</a></li>
                <!-- show this number only on phones and tablets -->

                <li class="menu-text visible-desktop phonenumber">813.555.3333</li>
                <!-- show this number only on desktop -->

                <li><a href="mailto:contact@longdomaingoeshere.com">email: contact@longdomaingoeshere.com</a></li>

                <li class="divider"></li>

                <li class="nav-header">Sign Up For News!</li>

                <li>
                  <form action="yourscript.php" method="post">
                    <div class="input-append custom-append">
                      <input type="email" placeholder="Email Address" name="email" />
                      <button class="btn btn-primary">Sign Up</button>
                    </div>
                    <!--close input-append-->
                  </form>
                </li>

                <li class="divider"></li><!--divider -->

                <li class="nav-header">Follow Us!</li><!--nav-header -->

                <li>
                  <div class="social clearfix">
                    <a class="fc-webicon rss round" href="#" title="RSS"></a>
                    <a class="fc-webicon facebook round" href="#" title="Facebook"></a>
                    <a class="fc-webicon twitter  round" href="#" title="Twitter"></a>
                    <a class="fc-webicon skype round" href="#" title="Skype"></a>
                    <a class="fc-webicon dribbble round" href="#" title="dribble"></a>
                    <a class="fc-webicon linkedin round" href="#" title="Skype"></a>
                    <a class="fc-webicon pinterest round" href="#" title="pinterest"></a>
                  </div><!-- close div .social-->
                </li>


              </ul>
            </li><!--close .dropdown .parent -->


            <!--begin .dropdown .parent -->
            <% if user_signed_in? %>
            <li class="dropdown parent"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <i class="e-icon-cog"></i></a>
              <ul class="dropdown-menu">
                <li class="current-user"> <a href="#"> <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/568222624/ILUSWEETC_normal.jpg" alt="Christina Arasmo">
                  <div class="name">
                    <b class="fullname"><%= current_user.first_name %></b><br>
                    <small> Edit profile </small>
                  </div>
                </a> </li>
                <li class="divider"></li>
                <li><a href="#">Link Here</a></li>
                <li><a href="#">Line Here</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li> <a class="js-signout-button" href="<%= destroy_user_session_path %>" data-nav="logout">Sign out</a>
                  <form class="dropdown-link-form signout-form" id="signout-form" action="/logout" method="POST">
                    <input type="hidden" value="" name="" class="">
                    <input type="hidden" name="" class="">
                    <input type="hidden" name="">
                  </form></li>
              </ul><!--close .dropdown-menu -->
            </li><!--close .dropdown .parent -->
            <% end %>


          </ul><!-- close nav accordmobile-->
        </div>
        <!--/.nav-collapse -->
      </div>
      <!-- /.navbar-inner -->
    </div>
    <!--/.container -->
  </div>
  <!-- /.navbar -->

  <div class="container">

    <div class="navbar primary-menu">
      <div class="navbar-inner">
        <div class="nav-collapse collapse">
          <ul class="nav accordmobile">
            <li class="active"><a href="index.html">Home</a></li>
            <li class="dropdown parent">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Solutions <i class="e-icon-down-open-mini"></i></a>
              <ul class="dropdown-menu">
                <li><a href="simple-header.html">Customer Retention</a></li>
                <li><a href="simple-header.html">Incremental Modeling</a></li>
                <li><a href="simple-header.html">DataCo Loyalty</a></li>
              </ul></li>
            <li class="dropdown parent">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Resources <i class="e-icon-down-open-mini"></i></a>
              <ul class="dropdown-menu">
                <li><a href="simple-header.html">Calculators</a></li>
                <li><a href="simple-header.html">Case Studies</a></li>
                <li><a href="simple-header.html">White Papers</a></li>
              </ul></li>

            <li><a href="portfolio-masonry.html">Portfolio</a></li>
            <li><a href="blog.html">Blogs</a></li>
            <li class="dropdown parent">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">About DataCo <i class="e-icon-down-open-mini"></i></a>
              <ul class="dropdown-menu">
                <li><a href="about.html">History</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul></li>
            <li class="dropdown parent">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">News Room <i class="e-icon-down-open-mini"></i></a>
              <ul class="dropdown-menu">
                <li><a href="about.html">Press Release</a></li>
                <li><a href="testimonials.html">Media Kit</a></li>
              </ul></li>

          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!-- /.navbar-inner -->
    </div>
    <!-- /.navbar -->

    <div id="logo" class="text-logo">
      <h2><a href="index.html">DataCo</a></h2>
    </div>
    <!-- end #logo -->
    <!-- ******* print stuff --><div class="print">Phone, name of company etc., for printing</div>
  </div>
  <!-- /.container -->
</div>
<!--close #nav-->

</header><!-- close /.header -->

<!-- begin #page - the container for everything but header -->
<div id="page" class="clearfix">

  <%= bootstrap_flash %>
  <%= yield %>

  <!--begin footer -->
  <footer class="footer clearfix">
    <div class="container">
      <!--footer container-->
      <div class="row-fluid">
        <div class="span3">
          <section>
            <h4>Contact Us</h4>
            <p>DataCo Solutions<br>
              85 W. Algonquin Road, Suite 360<br>
              Arlington Heights, IL 60005<br>
              <strong>phone:</strong> <a href="tel:8472900636 " class="tele">847-290-0636 </a><br>
              <strong>fax:</strong> 847-290-0636 <br>
              <span class="overflow"><strong>email:</strong> <a href="mailto:info@datacosolutions.com">info@datacosolutions.com</a></span> </p>
          </section>
          <!--close section-->

          <section>
            <h4>Follow Us</h4>
            <ul class="social">
              <li><a class="fc-webicon rss round" href="#" title="RSS"></a></li>
              <li><a class="fc-webicon facebook round" href="#" title="Facebook"></a></li>
              <li><a class="fc-webicon twitter round" href="#" title="Twitter"></a></li>
              <li><a class="fc-webicon skype round" href="#" title="Skype"></a></li>
              <li><a class="fc-webicon dribbble round" href="#" title="dribble"></a></li>
              <li><a class="fc-webicon linkedin round" href="#" title="Skype"></a></li>
            </ul>
          </section>
          <!--close section-->
        </div>
        <!-- close .span3 -->

        <!--section containing newsletter signup and recent images-->
        <div class="span5">
          <section>
            <h4>Stay Updated</h4>
            <p>Sign up for our newsletter. We won't share your email address.</p>
            <form action="yourscript.php" method="post">
              <div class="input-append append-fix custom-append row-fluid">
                <input type="email" class="span8" placeholder="Email Address" name="email" />
                <button class="btn btn-primary">Sign Up</button>

              </div></form>
            <!--close input-append-->
          </section>
          <!--close section-->

          <section>
            <h4>Recent Rants</h4>
            <ul class="clearfix">
              <li><a href="#">Driving ROI with Incremental Modeling</li>
              <li><a href="#">Measuring Loyalty vs. Satisfaction</li>
              <li><a href="#">Cross-Tabbing for Marketers</li>
            </ul>
          </section>
          <!--close section-->
        </div>
        <!-- close .span5 -->

        <!--section containing blog posts-->
        <div class="span4">
          <section>
            <h4>About Us</h4>
            <p><h5>Solutions............its what we do and always have done! </h5></p>
            <p>When we opened our doors in 1993, we knew we didn't want to be like others who claim to analyze data and find nuggets of opportunity.  We wanted to be different, we wanted to find and implement practical solutions that business people could understand and use in a very practical manner.</span></p>
          </section>
        </div>
        <!-- close .span4 -->
      </div>
      <!-- close .row-fluid-->
    </div>
    <!-- close footer .container-->
  </footer>
  <!--/close footer-->

  <!--change this to your stuff-->
  <section class="footer-credits">
    <div class="container">
      <ul class="clearfix">
        <li>© 2013 DataCo Solutons. All rights reserved.</li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
      </ul>
    </div>
    <!--close footer-credits container-->
  </section>
  <!--close section .footer-credits-->
  <span class="backToTop"><a href="#top"><i class="e-icon-up-open-big"></i></a></span>
</div>
<!-- close #page-->


<!--*****************Theme switcher html - requires switcher.css *********************-->
<div id="switcher-wrapper">
  <div class="toggle">
    <i class="e-icon-plus"></i>
  </div>
  <div id="switcher">
    <h3>Choose A Color</h3>
    <p class="small">There is a flash of the blue color while a page loads, this ONLY happens in the demo due to the script that switches the colors or fonts</p>

    <section class="clearfix">
      <a class="color corblue" href="javascript: void(0)" title="Corporate Blue">Corporate Blue</a>
      <a class="color gray" href="javascript: void(0)" title="Gray">Gray</a>
      <a class="color softgreen" href="javascript: void(0)" title="Soft Green">Soft Green</a>
      <a class="color srbrown" href="javascript: void(0)" title="Soft Rust Brown">Soft Rust Brown</a>
      <a class="color mteal" href="javascript: void(0)" title="Muted Teal">Muted Teal</a>
    </section>

    <h6><a class="reset btn btn-inverse" href="javascript: void(0)" title="Reset">Color Reset</a></h6>
    <h3>Font Ideas</h3>
    <p class="small"><i class="e-icon-info"></i> Font choices affect the masonry layouts ONLY in this demo. In a real environment, the masonry stacks fine.
    <p>
    <ul>
      <li><a class="font0" href="javascript: void(0)">Source Sans Pro</a></li>
      <li><a class="font1" href="javascript: void(0)">Play Fair & Garamondish fontstack</a></li>
      <li><a class="font2" href="javascript: void(0)">Roboto & Helvetica, Arial, etc.</a></li>
      <li><a class="font3" href="javascript: void(0)">Arvo & Source Sans Pro</a></li>
      <li><a class="font4" href="javascript: void(0)">Oxygen & Helvetica, Arial, etc.</a></li>
    </ul>
    <h6><a class="resetfont btn btn-primary" href="javascript: void(0)" title="Reset">Font Reset</a></h6>
  </div>
</div>
<!--*****************Theme switcher html *********************-->

<!-- JS General Site COMBINE AND COMPRESS WHEN YOU FIGURE OUT WHAT YOU WANT TO USE comes with unpacked versions ================ -->

<%= javascript_include_tag "application" %>
<%= yield :js %>


</body>
</html>